exportPattern("^[[:alpha:]]+")
    export(irtGUI)
    importFrom("stats", "coef")
    import(magrittr)
    import(shiny)
    import(shinydashboard)
    import(shinycssloaders)
    import(readxl)
    import(stats)
    import(grDevices)
    import(WrightMap)
    import(xlsx)
    import(mirt)
    importFrom("psych","fa.parallel")
    importFrom("irtoys","sim")
      importFrom("irtoys","est")
        importFrom("irtoys","ability")


